@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

:root{
    --main-text: "Open Sans", serif;
    --slogan-text: "Great Vibes", serif;
    --text-color1: rgba(0, 0, 0, 0.711);
    --brand-color: #4da59d;
}

html, body{
    width: 100%;
    height: 100vh;
    font-family: var(--main-text);
    scroll-behavior: smooth;
    overflow-x: hidden;
}

header{
    background-color: var(--brand-color);
    color: rgba(255, 255, 255, 0.902);
    position: fixed;  /* Keeps header fixed */
    top: 0;           /* Fixes it to the top */
    left: 0;          /* Aligns it to the left */
    width: 100%;      /* Ensures it spans the full width */
    z-index: 1000;    /* Ensures it's above other elements */
    /* border: 1px solid red; */

}

#container-head{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 24px;
    padding-block: 8px;
    background-color: var(--brand-color);

}

header nav ul{
    /* border: 2px solid rgb(51, 144, 17); */
    display: flex;
    gap: 24px;
}

header nav li{
    list-style: none;
}

header nav ul li a{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.902);
    font-weight: 300;

}

header nav ul li a:hover{
    border-bottom: 1px solid  rgba(255, 255, 255, 0.902);
}

/* --------------------------main----------------- */

#container-main{
    /* border: 3px solid red; */
    height: 35em;
    background-image: url(../assets/second-bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: rgba(255, 255, 255, 0.902);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 28px;
    margin-top: 60px
}

#container-main p{
    /* border: 1px solid red; */
    font-size: 1.5em;
    font-weight: 600;
    width: 70%;
    margin-bottom: 18px;
    text-shadow: 0px 0px 10px black;

}

#container-main a{
    background-color: var(--brand-color);
    padding: 8px;
    padding-inline: 24px;
    border-radius: 30px;
    color: rgba(255, 255, 255, 0.902);
    text-decoration: none;
    width: 100px;
    text-align: center;
    font-weight: 400;
}

#container-main a:hover{
    background-color:rgb(91, 207, 197);
}

/* #second-section{
    border: 2px solid red;
} */

#second-section h1{
    padding-top: 24px;
    padding-bottom: 4px;
    text-align: center;
}

#pictures{
    display: flex;
    flex-wrap: wrap;
    padding: 28px;
    gap: 28px;
    /* background: linear-gradient(0deg, rgba(77,165,157,1) 54%, rgba(0,0,0,0) 100%); */

}

.images{
    /* border: 1px solid black; */
    width: 350px;
    height: 350px;
    margin: auto;
    border-radius: 12px ;

}

#image1{
    background-image: url(../assets/first-bg.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#image2{
    background-image: url(../assets/third-bg.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#image3{
    background-image: url(../assets/fifth-bg.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#image4{
    background-image: url(../assets/fourth-bg.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#image5{
    background-image: url(../assets/sixth-bg.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#image6{
    background-image: url(../assets/seventh-bg.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#image4, #image3, #image6{
    display: none;
}

/* -----------------third-section----------------- */

#box-color{
    width: 100%;
    height: 20px;
    background-color: #72d6ce;
}

#third-section{
    background-color: var(--brand-color);

}

#third-section h2{
    color: rgb(255, 255, 255);
    padding: 12px 0px 12px 32px;
    

}

#third-section p{
    text-align: justify;
    padding-inline: 32px;
    color: rgba(255, 255, 255, 0.744);
    line-height: 2em;
    text-indent: 24px;
}

#third-section p:nth-child(4){
    padding-bottom: 24px;

}



#contact a{
    padding: 14px;
    display: flex;  
    margin: auto;
    margin-top: 12px;
    text-align: center;
    text-decoration: none;
    color: white;
    background-color: var(--brand-color);
    border-left: 20px solid #72d6ce;
}

#contact a:hover{
    font-weight: 500;
    background: linear-gradient(90deg, rgba(114,214,206,1) 0%, rgba(96,219,209,1) 35%, rgba(77,165,157,1) 100%);
}

/* ----------------FOOTER---------------- */

footer{
    margin-top: 12px;
    margin-bottom: 8px;
    font-size: .8rem;
    text-align: center;
    color: rgba(0, 0, 0, 0.519);
}

/* --------------------media queries----------- */

@media screen and (min-width:764px) {

    /* #pictures{
        border: 2px solid red;
    } */

    body{
     background-color: var(--brand-color);   
    }

    #container-head{
    /* border: 1px solid red; */
    max-width: 900px;
    margin: auto;
    }

    #container-main{
        max-width: 65%;
        margin: auto;
    }

    #container-main p{
        /* border: 1px solid red; */
        width: 400px;
    }

    #second-section{
        /* border: 1px solid red; */
        max-width: 65%;
        margin: auto;
        background-color: white;
    }

    #image4, #image3, #image6{
        display: block;
    }

    .images{
        width: 300px;
        height: 300px;
    }

    #third-section{
        /* background-color: white; */
        max-width: 65%;
        background-color: white;
        margin: auto;
        
    }

    #third-section p{
        color: var(--text-color1);
        text-indent: 0;
    }

    #box-color{
        display: none;
    }

    #third-section h2{
        color: var(--text-color1);
        border-left: 20px solid #72d6ce;
        padding: 12px;
        
        /* border: 1px solid red; */
    }

    #contact{
        max-width: 65%;
        margin: auto;
        /* border-left: 20px solid white; */
    }

    #contact a{
        background-color: rgba(255, 255, 255, 0.212);
    }

    footer{
        color: rgba(255, 255, 255, 0.545);
    }

}